.blogs-container
{
      background-color: aliceblue;
    text-align: center;
    height: 400px;
    margin: 50px;
    padding: 40px;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 0 5px 2px aliceblue;
}
@media screen and (max-width:768px)
{
    .blogs-container
{
    height: 800px;
    margin: 20px;
    padding: 40px;
    justify-content: center;
}
}
.blogs-container:hover{
    transform: scale(1.020);
    box-shadow: 0 0 5px 2px aliceblue;
    overflow: hidden;
    transition: 1s;
}
.blog-date-author
{
    text-align: center;
    margin: 5px;
    margin-bottom: 40px;
    font-size: 30px;
}
@media screen and (max-width:768px)
{
    .blog-date-author
{
    margin: 5px;
    margin-bottom: 30px;
    font-size: 20px;
}
}

@media screen and (max-width:768px)
{
    .blog-content
{
    
    font-size: 16px;
}
}